

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html,body{
    background-color: $mainBg;
    font-family: 'Source Code Pro', monospace;
    overflow-x: hidden;
}

.triangle{
    position: absolute;
    height: 100vh;
    width: 100vw;
    min-height: 100vh;
    min-width: 100vw;
    background-color: $darkBg;
    transform-origin: bottom right;
    clip-path: polygon(35% 0, 100% 0, 100% 100%, 85% 100%);
    animation: grow 1s;
}
@keyframes grow {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

.comp-triangle{
    position: absolute;
    height: 100vh;
    width: 100vw;
    min-height: 100vh;
    min-width: 100vw;
    background-color: $darkBg;
    transform-origin: top right;
    clip-path: polygon(35% 0, 100% 0, 100% 100%, 85% 100%);
    animation: slide 500ms;
}

@keyframes slide{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

.compass{
    position: absolute;
    left: 80vw;
}
.compass:hover{
    cursor: pointer;
}

.compass-rotate-left {
    transform: rotate(-90deg);
    transition: transform  1s linear;
}


.home, .title{
    max-width: 90vw;
}

.home-title{
    position: absolute;
    top: 50vh;
    margin-left: 3vw;
    h1{

    }
}
.sub{
    position: absolute;
    top: 57vh;
    margin-left: 3vw;
    h4{
        font-size: 1.2rem;
        overflow: hidden;
        border-right:  .2em solid  black;
        white-space: nowrap;
        margin: 0 auto;
        letter-spacing: .13em;
        animation:
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
    }
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
}

.m-nav{
    color:$mainBg;
    position: absolute;
    display: inline-block;
    top: 35vh;
    left: 80vw;
    li{
        list-style: none;
        font-size: 1.3rem;
        margin-bottom: 6px;
    }
    a{
        color:$mainBg;
    }
    a:hover{
        text-decoration: none;
        border-bottom: solid thin $navFont;
    }
}


